.ad-title {
  display: flex;
  justify-content: center;
}

.ad-container {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.ad-details {
  width: 40%;
  padding-left: 20px;
}

.ad-details > div {
  margin-bottom: 5px;
}

.ad-image {
  width: 60%;
}

.ad-image > img {
  width: 100%;
}

.comments-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.comments-container {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.comments-list {

}

.comments-list > li {
  list-style: none;
  margin-bottom: 5px;
}

.comment-user-name {
  font-weight: bold;
}

.comment-text {

}

.comment-date {
  color: var(--grey);
}
