.ad-title {
  display: flex;
  justify-content: center;
}

.ad-container {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.ad-details {
  width: 40%;
  padding-right: 20px;
}

.ad-details > div {
  margin-bottom: 5px;
}

.ad-image {
  width: 60%;
}

.ad-image > img {
  width: 100%;
}
